* {
    
    text-align: center;
    font-family: 'Poppins';
    

    

}
img {
    border-radius: 25px;
    width:100%;
    height:auto;
    
}

::-webkit-scrollbar {
    width: 0;
    background: transparent;
  }
  
 
