* {    
    font-family: 'Poppins';
    text-align: center;
    
    


}

img {
    border-radius: 25px;
}

p {
    
  margin: auto;
  width: 900px;
  text-align: left;
  
}

::-webkit-scrollbar {
    width: 0;
    background: transparent;
  }
  
a {
  color: aliceblue;
}
